    </main>
    <footer>
      <section id="icon-band">
        <a href="https://twitter.com/legendaryvermin">
          <img src="/images/Twitter_Logo_WhiteOnImage.svg" alt="twitter">
        </a>
        <a href="https://legendary-vermin.itch.io/">
          <img src="/images/itchio-logo-textless-white.svg" alt="itch.io">
        </a>
        <a href="https://www.linkedin.com/in/devin-helmgren/">
          <img id="linkedin" src="/images/In-White-96.png" alt="LinkedIn">
        </a>
      </section>
      <section>
        <p>TWEET ZONE</p>
      </section>
      <p>&copy;Devin Helmgren 2019 SEXY COPYRIGHT</p>
    </footer>
  </body>
</html>